{% extends "main.html" %} {% block title %} RECENT DUBBED {% endblock %} {% block content %}
<div class="mx-5 my-5">
  <table class="table table-dark table-bordered table-striped">
    <thead class="bg-info">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NAME</th>
        <th scope="col">EPISODE NO</th>
        <th scope="col">TYPE</th>
        <th scope="col">DATE</th>
      </tr>
    </thead>
    <tbody> </tbody>
  </table>
</div>
<script>
$(document).ready(function() {
 var json = {{content | safe}}
  var tr;
  for(var i = 0; i < json.length; i++) {
    tr = $('<tr/>');
    tr.append("<td>" + i + "</td>");
    tr.append(`<td><a href="https://www1.kickassanime.rs${ json[i].slug }" style="color:white">${ json[i].name }</a></td>`);
    tr.append("<td>" + json[i].episode + "</td>");
    tr.append("<td>" + json[i].type + "</td>");
    tr.append("<td>" + json[i].episode_date + "</td>");
    $('tbody').append(tr);
  }
});
</script> {% endblock %}